Eventos/Schemas/Cancelamento_NFSe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by ALTOVA ENTERPRISE 2010 (ANONIMOUS) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tpAmb">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Versao">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSSerie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element minOccurs="0" name="IDUnico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSNumero">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NFSeNumero">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ModeloDocumento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EveCodigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EveMotivo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NFSeCodVerificacao">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Protocolo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NotaExiste">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="Evento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNPJ"/>
				<xs:element ref="NFSeNumero"/>
				<xs:element ref="RPSNumero"/>
				<xs:element ref="RPSSerie"/>
				<xs:element ref="IDUnico"/>
				<xs:element ref="EveTp"/>
				<xs:element ref="tpAmb"/>
				<xs:element ref="NFSeCodVerificacao"/>
				<xs:element ref="Protocolo"/>
				<xs:element ref="NotaExiste"/>
				<xs:element ref="EveCodigo"/>
				<xs:element ref="EveMotivo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EveTp">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnvioEvento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ModeloDocumento"/>
				<xs:element ref="Versao"/>
				<xs:element ref="Evento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CNPJ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
				<xs:minLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
