Eventos/Schemas/Envio_MDFe 3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EnvioEvento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ChaveParceiro" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ChaveAcesso" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Evento">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MdfCNPJEmissor">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MdfNumero">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MdfSerie">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpAmb">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ChaAcesso" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="44"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EveInf">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EveDh" type="xs:dateTime"/>
										<xs:element name="EveFusoHorario">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EveTp">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EvenSeq">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EvecOrgao" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Evedet">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EveDesc" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EvexJust" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EvenProt" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EveDhEncerr" type="xs:date" minOccurs="0"/>
													<xs:element name="EvecUFEncerr" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EvecMunEncerr" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="7"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EveNomeCondutor" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EveCPFCondutor" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="11"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="InclusaoDFe" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="cMunCarrega">
																	<xs:simpleType>
																		<xs:restriction base="xs:nonNegativeInteger">
																			<xs:totalDigits value="7"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="xMunCarrega">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Documentos">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DocumentosItem" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="cMunDescarga">
																							<xs:simpleType>
																								<xs:restriction base="xs:nonNegativeInteger">
																									<xs:totalDigits value="7"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="xMunDescarga">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="60"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="chaveAcessoNFe">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="44"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PagamentoOperacao" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="InfViagens">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="QtdViagens">
																				<xs:simpleType>
																					<xs:restriction base="xs:nonNegativeInteger">
																						<xs:totalDigits value="5"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NroViagem">
																				<xs:simpleType>
																					<xs:restriction base="xs:nonNegativeInteger">
																						<xs:totalDigits value="5"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="InfPagamento" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="InfPagamentoItem" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="nome_respPag" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="60"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:choice>
																							<xs:element name="CPF_respPag">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="11"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																							<xs:element name="CNPJ_respPag">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="14"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																							<xs:element name="idEstrangeiro_respPag">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="20"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																						</xs:choice>
																						<xs:element name="valor_Contrato">
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal">
																									<xs:totalDigits value="18"/>
																									<xs:fractionDigits value="2"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="indPag">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="1"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="vAdiant" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal">
																									<xs:totalDigits value="15"/>
																									<xs:fractionDigits value="2"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Componentes">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="ComponentesItem" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="tipo_comp">
																													<xs:simpleType>
																														<xs:restriction base="xs:string">
																															<xs:maxLength value="2"/>
																														</xs:restriction>
																													</xs:simpleType>
																												</xs:element>
																												<xs:element name="valor_comp">
																													<xs:simpleType>
																														<xs:restriction base="xs:decimal">
																															<xs:totalDigits value="18"/>
																															<xs:fractionDigits value="2"/>
																														</xs:restriction>
																													</xs:simpleType>
																												</xs:element>
																												<xs:element name="desc_comp" minOccurs="0">
																													<xs:simpleType>
																														<xs:restriction base="xs:string">
																															<xs:maxLength value="60"/>
																														</xs:restriction>
																													</xs:simpleType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="InfPrazo" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="InfPrazoItem" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="numeroParcela">
																													<xs:simpleType>
																														<xs:restriction base="xs:string">
																															<xs:maxLength value="3"/>
																														</xs:restriction>
																													</xs:simpleType>
																												</xs:element>
																												<xs:element name="dataVencimento" type="xs:date" nillable="true"/>
																												<xs:element name="valorParcela">
																													<xs:simpleType>
																														<xs:restriction base="xs:decimal">
																															<xs:totalDigits value="18"/>
																															<xs:fractionDigits value="2"/>
																														</xs:restriction>
																													</xs:simpleType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="InfBanco">
																							<xs:complexType>
																								<xs:choice>
																									<xs:sequence>
																										<xs:element name="codBanco">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="5"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:element>
																										<xs:element name="codAgencia">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="10"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:element>
																									</xs:sequence>
																									<xs:sequence>
																										<xs:element name="CNPJIPEF">
																											<xs:simpleType>
																												<xs:restriction base="xs:string">
																													<xs:maxLength value="14"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:element>
																									</xs:sequence>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
