Eventos/Schemas/EventosNFe 4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EnvioEvento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="ChaveParceiro">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="ChaveAcesso">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Evento">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="NtfCnpjEmissor">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="14"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="NtfCpfEmissor">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:choice>
							<xs:element name="NtfNumero">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NtfSerie">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpAmb">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2"/>
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="ChaAcesso">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="44"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="ChaAcessoSubstituta">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="44"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EveInf">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EveDh" type="xs:dateTime"/>
										<xs:element name="EveFusoHorario">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EveTp">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EvenSeq">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Evedet">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EveDesc">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="EveCorrecao">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="EveCondUso">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="EvexJust">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="EvenProt">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element minOccurs="0" name="ProrrogICMS">
														<xs:complexType>
															<xs:sequence>
																<xs:element minOccurs="0" name="ProrrogICMSItem">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element minOccurs="0" name="NumeroItem">
																				<xs:simpleType>
																					<xs:restriction base="xs:nonNegativeInteger">
																						<xs:totalDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element minOccurs="0" name="QtdeItem">
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:totalDigits value="24"/>
																						<xs:fractionDigits value="4"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="CancPedProrrogICMS">
														<xs:complexType>
															<xs:sequence>
																<xs:element minOccurs="0" name="IDEvePedProrrog">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element minOccurs="0" name="ProtEvePedProrrog">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="RegistroSaida">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="placaVeiculo">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="numPlaca">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="8"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="cUF">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="2"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="placasCarreta">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="placasCarretaItem">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="numPlaca">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="8"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="cUF">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="2"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="ComprovanteEntrega">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tpAutor">
																	<xs:simpleType>
																		<xs:restriction base="xs:nonNegativeInteger">
																			<xs:totalDigits value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="dhEntrega" type="xs:dateTime"/>
																<xs:element name="fusoEntrega">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="nDoc">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element minOccurs="0" name="nProtCE">
																	<xs:simpleType>
																		<xs:restriction base="xs:nonNegativeInteger">
																			<xs:totalDigits value="15"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="xNome">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element minOccurs="0" name="latitude">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="10"/>
																			<xs:fractionDigits value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element minOccurs="0" name="longitude">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="10"/>
																			<xs:fractionDigits value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="hashEntrega">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="28"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element minOccurs="0" name="dhHashEntrega" type="xs:dateTime"/>
																<xs:element minOccurs="0" name="fusoHashEntrega">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>