Eventos/Schemas/Inutilizacao_Envio_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 sp1 (x64) (http://www.altova.com) by Russinara (Migrate) -->
<!-- W3C Schema generated by XMLSpy v2019 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Inutilizacao">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CnpjEmissor">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpAmb">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="1"/>
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroInicial">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroFinal">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Serie">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Justificativa">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
