Eventos/Schemas/Inutilizacao_Retorno_CTe-NFe-NFCe v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 sp1 (x64) (http://www.altova.com) by Russinara (Migrate) -->
<!-- W3C Schema generated by XMLSpy v2019 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Documento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocModelo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocNumero" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocSerie" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocChaAcesso" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="44"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocProtocolo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocEvenSeq" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocEveTp" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:totalDigits value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocEveId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="52"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocPDFBase64" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocPDFDownload" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocDhAut" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocDigestValue" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocXMLBase64" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocXMLDownload" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocImpressora" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Situacao" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SitCodigo" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SitDescricao" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
