Emissão/Schemas/Layout_MFDe 3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Envio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ChaveParceiro" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="44"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ChaveAcesso" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="44"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Imprimir" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApelidoImpressora" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="300"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ide">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cMDF" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cUF">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpAmb">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpEmit">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpTransp" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="serie">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nMDF">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="modal">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="4"/>
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dhEmi" type="xs:dateTime"/>
							<xs:element name="fusoHorario">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpEmis">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UFIni">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UFFim">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dhIniViagem" type="xs:dateTime"/>
							<xs:element name="indCanalVerde" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="indCarregaPosterior" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MunicipiosCarreg">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MunicipiosCarregItem" maxOccurs="50">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cMunCarreg">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="7"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="xMunCarreg">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="infPercurso" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="infPercursoItem" maxOccurs="25">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UFPer">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="emit">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="CNPJ_emit">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="14"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CPF_emit">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:choice>
							<xs:element name="xNome">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="2"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xFant" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="2"/>
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="enderEmit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xLgr">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="nro">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="xCpl" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="xBairro">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="cMun">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="7"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="xMun">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CEP">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UF">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="fone" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="6"/>
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="email" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InfModal">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="versaoModal">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="4"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:choice>
								<xs:element name="Rodoviario">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RNTRC" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="8"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="codAgPorto" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="16"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="infCIOT" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="infCIOTItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="CIOT">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="12"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="CPF_CIOT">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="11"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CNPJ_CIOT">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="14"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:choice>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Contratante" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ContratanteItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:choice>
																		<xs:element name="CPF_Contr">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="11"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CNPJ_Contr">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="14"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="IdEstrangeiro_Contr">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="20"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="Nome_Contr" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="InfPagamento" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="InfPagamentoItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="nome_respPag" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="CPF_respPag">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="11"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CNPJ_respPag">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="14"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="idEstrangeiro_respPag">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="20"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="valor_Contrato">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="18"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="indPag">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="1"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="vAdiant" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="15"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="Componentes">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ComponentesItem" maxOccurs="unbounded">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="tipo_comp">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="2"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																							<xs:element name="valor_comp">
																								<xs:simpleType>
																									<xs:restriction base="xs:decimal">
																										<xs:totalDigits value="18"/>
																										<xs:fractionDigits value="2"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																							<xs:element name="desc_comp" minOccurs="0">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="60"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="InfPrazo" minOccurs="0">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="InfPrazoItem" maxOccurs="unbounded">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="numeroParcela">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="3"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																							<xs:element name="dataVencimento" type="xs:date" nillable="true"/>
																							<xs:element name="valorParcela">
																								<xs:simpleType>
																									<xs:restriction base="xs:decimal">
																										<xs:totalDigits value="18"/>
																										<xs:fractionDigits value="2"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="InfBanco">
																		<xs:complexType>
																			<xs:choice>
																				<xs:sequence>
																				<xs:element name="codBanco">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="5"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="codAgencia">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="10"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				</xs:sequence>
																				<xs:sequence>
																					<xs:element name="CNPJIPEF">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:maxLength value="14"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:sequence>
																			</xs:choice>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="VeicTracao">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="codigo_veiculo" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="placa">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="7"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="tara">
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger">
																	<xs:totalDigits value="6"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="capacidadeKG" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger">
																	<xs:totalDigits value="6"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="capacidadeM3" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger">
																	<xs:totalDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="tipoRodado">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="tipoCarroceria">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="UF_veiculo" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="RENAVAM">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="11"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Proprietario" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:choice>
																		<xs:element name="CPF_prop">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="11"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CNPJ_prop">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="14"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="RNTRC_prop">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="8"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="nome_prop">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="IE_prop">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="14"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="UF_prop">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tipo_prop">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:totalDigits value="1"/>
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Condutores">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="CondutoresItem" maxOccurs="10">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="nome_cond">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="60"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="CPF_cond">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="11"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="VeicReboque" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="VeicReboqueItem" maxOccurs="3">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="codigo_reb" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="placa_reb">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="7"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tara_reb">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:totalDigits value="6"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="capacidadeKG_reb">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:totalDigits value="6"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="capacidadeM3_reb" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:totalDigits value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tipoCarroceria_reb">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="UF_reb">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="RENAVAM">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="11"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="Proprietario_reb" minOccurs="0">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:choice>
																					<xs:element name="CPF_prop_reb">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:maxLength value="11"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="CNPJ_prop_reb">
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:maxLength value="14"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:choice>
																				<xs:element name="RNTRC_reb">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="8"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="nome_prop_reb">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="60"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="IE_prop_reb">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="14"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="UF_prop_reb">
																					<xs:simpleType>
																						<xs:restriction base="xs:string">
																							<xs:maxLength value="2"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="tipo_prop_reb">
																					<xs:simpleType>
																						<xs:restriction base="xs:nonNegativeInteger">
																							<xs:totalDigits value="1"/>
																							<xs:minInclusive value="0"/>
																							<xs:maxInclusive value="2"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="ValePedagio" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ValePedagioItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="CNPJForn">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="14"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="CNPJPagamento" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="14"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="numeroCompra">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="vValePed">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="18"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="LacresRodo" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="LacresRodoItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="nLacreRodo">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Aereo">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="nacionalidade">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="4"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="matricula">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="6"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="numeroVoo">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="9"/>
														<xs:minLength value="5"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="aerEmbarque">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="3"/>
														<xs:maxLength value="4"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="aerDestino">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="3"/>
														<xs:maxLength value="4"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="dataVoo" type="xs:date" nillable="true"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Aquaviario">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="irin">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="tipoEmbarcacao">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="codEmbarcacao">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="nomeEmbarcacao">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="60"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="numViagem">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="codPortoEmb">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="5"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="codPortoDes">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="5"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="portoTrans" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="69"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="tipoNav" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="TerminaisCarreg" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="TerminaisCarregItem" maxOccurs="5">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="codTermCarreg">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="8"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="nomTermCarreg">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="TerminaisDescarreg" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="TerminaisDescarregItem" maxOccurs="5">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="codTermDescarreg">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="8"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="nomTermDescarreg">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="EmbarcacoesComboio" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="EmbarcacoesComboioItem" maxOccurs="30">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="codEmbComboio">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="xBalsa">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="60"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="UnidCargaVazia" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="UnidCargaVaziaItem" maxOccurs="30">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="idUnidCargaVazia">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tpUnidCargaVazia">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="1"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="UnidTranspVazia" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="UnidTranspVaziaItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="idUnidTranspVazia">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tpUnidTranspVazia">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:minInclusive value="1"/>
																				<xs:maxInclusive value="2"/>
																				<xs:totalDigits value="1"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Ferroviario">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Trem">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="prefixo">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="dhLiberacao" type="xs:dateTime" nillable="true" minOccurs="0"/>
														<xs:element name="origem">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="destino">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="qtdeVagoes">
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger">
																	<xs:totalDigits value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Vagoes">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="VagoesItem" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="pesoBC_vag">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="13"/>
																				<xs:fractionDigits value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="pesoR">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="13"/>
																				<xs:fractionDigits value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="tpVag" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="serie_vag">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="numero_vag">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="8"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="numeroSequencia" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:nonNegativeInteger">
																				<xs:totalDigits value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="TU">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="6"/>
																				<xs:fractionDigits value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Documentos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MunicipiosDescarreg">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MunicipiosDescarregItem" maxOccurs="1000">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cMunDescarreg">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="7"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="xMunDescarreg">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="InfDoc">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="InfDocItem" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="tipoDocumento">
																				<xs:simpleType>
																					<xs:restriction base="xs:nonNegativeInteger">
																						<xs:totalDigits value="1"/>
																						<xs:minInclusive value="1"/>
																						<xs:maxInclusive value="5"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="chaveAcesso" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="44"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="segCodBarras" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="60"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="indReentrega" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:nonNegativeInteger">
																						<xs:minInclusive value="1"/>
																						<xs:totalDigits value="1"/>
																						<xs:maxInclusive value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="UnidadesTransp" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="UnidadesTranspItem" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="tipoUnidTransporte">
																										<xs:simpleType>
																											<xs:restriction base="xs:nonNegativeInteger">
																												<xs:totalDigits value="1"/>
																												<xs:minInclusive value="1"/>
																												<xs:maxInclusive value="7"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="idUnidTransporte">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="20"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="qtdeRateada" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:decimal">
																												<xs:totalDigits value="5"/>
																												<xs:fractionDigits value="2"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="LacresUnidTransp" minOccurs="0">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="LacresUnidTranspItem" maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="nLacreUnidTransp">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string">
																																		<xs:maxLength value="20"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="UnidadesCarga" minOccurs="0">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="UnidadesCargaItem" maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="tipoUnidCarga">
																																<xs:simpleType>
																																	<xs:restriction base="xs:nonNegativeInteger">
																																		<xs:totalDigits value="1"/>
																																		<xs:minInclusive value="1"/>
																																		<xs:maxInclusive value="4"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																															<xs:element name="idUnidCarga">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string">
																																		<xs:maxLength value="20"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																															<xs:element name="qtdRateadaCarga" minOccurs="0">
																																<xs:simpleType>
																																	<xs:restriction base="xs:decimal">
																																		<xs:totalDigits value="5"/>
																																		<xs:fractionDigits value="2"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																															<xs:element name="LacresUnidCarga" minOccurs="0">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="LacresUnidCargaItem" maxOccurs="unbounded">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element name="nLacreUnidCarga">
																																						<xs:simpleType>
																																							<xs:restriction base="xs:string">
																																								<xs:maxLength value="20"/>
																																							</xs:restriction>
																																						</xs:simpleType>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="ProdPerigosos" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ProdPerigososItem" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="nONU">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="4"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="xNomeAE" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="150"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="xClaRisco" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="40"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="grEmb" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="6"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="qTotProd">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="20"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="qVolTipo" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="60"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="EntregaParcial" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="qtdTotal">
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal">
																									<xs:totalDigits value="7"/>
																									<xs:fractionDigits value="2"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="qtdParcial">
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal">
																									<xs:totalDigits value="7"/>
																									<xs:fractionDigits value="2"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Seguro" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SeguroItem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nApol" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Averbacoes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AverbacoesItem" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="nAver">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="infResp">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="respSeg">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="1"/>
																<xs:minInclusive value="1"/>
																<xs:maxInclusive value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:choice>
														<xs:element name="CNPJ_respSeg">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="14"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CPF_respSeg">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="11"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="infSeg" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="XSeg">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CNPJ_seg">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProdPredominante" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tpCarga">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xProd">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cEAN" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NCM" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Lotacao" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LocalCarrega">
											<xs:complexType>
												<xs:choice>
													<xs:element name="CEP_LocalCarrega">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:sequence>
														<xs:element name="Latitude_LocalCarrega">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Longitude_LocalCarrega">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="LocalDescarrega">
											<xs:complexType>
												<xs:choice>
													<xs:element name="CEP_LocalDescarrega">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:sequence>
														<xs:element name="Latitude_LocalDescarrega">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Longitude_LocalDescarrega">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Totais">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="qtdCTe" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="qtdNFe" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="qtdMDFe" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="valorCarga">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="15"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="codUnidMedida">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="qtdCarga">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="15"/>
										<xs:fractionDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Lacres" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LacresItem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nLacre">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AutXML" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AutXMLItem" maxOccurs="10">
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="CNPJ_aut">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="14"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="CPF_aut">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="11"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InfAdicionais" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="infAdFisco" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="infCpl" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infMDFeSupl" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="qrCodMDFe">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="50"/>
										<xs:maxLength value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="infRespTec" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CNPJ_respTec">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xContato">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="email_respTec">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="fone_respTec">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="idCSRT">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="hashCSRT">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>