Layout Integração - Reforma Tributária/Schemas/CancelamentoNFSe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="EnvioEvento">
    <xs:annotation>
      <xs:documentation>Elemento Superior da Estrutura</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ModeloDocumento" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Modelo de documento a ser enviado</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Versao" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Versão do Layout do documento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="2"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ChaveParceiro" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Chave de Parceiro</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ChaveAcesso" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Chave de Acesso</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Evento" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>None</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>CNPJ da Empresa/Prestador</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NFSeNumero" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Número da NFS-e</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15"/>
                    <xs:fractionDigits value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="RPSNumero" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Número do RPS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="15"/>
                    <xs:fractionDigits value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="RPSSerie" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Série do RPS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IDUnico" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Controle de Numeração de RPS</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EveTp" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Tipo Evento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="6"/>
                    <xs:fractionDigits value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Tipo de Ambiente</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="1"/>
                    <xs:fractionDigits value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NFSeCodVerificacao" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Código de verificação da NFS-e</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Protocolo" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Protocolo da NFS-e</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NotaExiste" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Nota consta no sistema da prefeitura</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EveCodigo" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Código do Cancelamento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EveMotivo" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Motivo do Cancelamento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>