Layout Integração - Reforma Tributária/Schemas/Evento_DCe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EnvioEvento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="7"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Evento">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DCeCnpjEmissor">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DCeNumero">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DCeSerie">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tpAmb">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ChaAcesso" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="44"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EveInf">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EveDh" type="xs:dateTime"/>
										<xs:element name="EveFusoHorario">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EveTp">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EvenSeq" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EvecOrgao" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Evedet" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EveDesc">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EvexJust">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EvenProt">
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="16"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tpEmis">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>