Layout Integração - Reforma Tributária/Schemas/InutilizacaoNFSe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ModeloDocumento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Versao" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CnpjEmissor" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UfEmissor" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroInicial" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroFinal" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:integer" >
							<xs:totalDigits value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Serie" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Justificativa" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>