Layout Integração - Reforma Tributária/Schemas/Inutilizacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Inutilizacao">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ModeloDocumento">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Versao">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CnpjEmissor">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="14"/>
							<xs:pattern value="\d{14}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpAmb">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UfEmissor">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroInicial">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroFinal">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:totalDigits value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Serie">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Justificativa">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>