Consulta de documentos/Schemas/Schema_invDocumento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tpAmb">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Versao">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Serie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element minOccurs="0" name="IDUnico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroInicial">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroFinal">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ModeloDocumento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataEmissaoInicial">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataEmissaoFinal">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ModeloDocumento"/>
				<xs:element ref="Versao"/>
				<xs:element ref="tpAmb"/>
				<xs:element ref="CnpjEmpresa"/>
				<xs:element ref="CnpjEmissor"/>
				<xs:element ref="NumeroInicial" minOccurs="0"/>
				<xs:element ref="NumeroFinal" minOccurs="0"/>
				<xs:element ref="Serie" minOccurs="0"/>
				<xs:element ref="IDUnico" minOccurs="0"/>
				<xs:element ref="ChaveAcesso" minOccurs="0"/>
				<xs:element ref="DataEmissaoInicial" minOccurs="0"/>
				<xs:element ref="DataEmissaoFinal" minOccurs="0"/>
				<xs:element ref="dhUF" minOccurs="0"/>
				<xs:element ref="EmitidoRecebido"/>
				<xs:element ref="DataInclusaoInicial" minOccurs="0"/>
				<xs:element ref="DataInclusaoFinal" minOccurs="0"/>
				<xs:element ref="StatusDocumento" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CnpjEmissor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CnpjEmpresa">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ChaveAcesso">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="44"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dhUF">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EmitidoRecebido">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="E"/>
				<xs:enumeration value="R"/>				
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataInclusaoInicial">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataInclusaoFinal">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StatusDocumento">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="13"/>
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
